body {
  background-color: black;
  color: white;
  font-family: 'Andale Mono', monospace;
}

a {
  color: white;
  text-decoration: underline;
}

a:visited {
  color: rgb(201, 201, 201);
}

a:hover {
  background-color: #ff0000;
  color: white;
  text-decoration: underline;
}