body {
  font-family: 'Andale Mono', Consolas, Menlo, 'Liberation Mono', monospace;
  background-color: rgb(33, 33, 33);
  color: #ffffff;
  font-size:13px
}

a {
  color: #00f7ff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}


code {
  font-size: 80%;
}