body {
    background-color: rgb(33, 33, 33);
    color: white;
    font-family: "Andale Mono", monospace;
  }

  a {
    color: rgb(0, 190, 253);
    text-decoration: none;
    font-weight: bold;
  }

img {
    max-width: 100%;
    height: auto;
  }

.text-container {
    max-width: 5in;
  }